body{
  font-family: 'Times New Roman', Times, serif;
}


.container {
  display: grid;
  height: 400px; 
  gap: 6px;
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: 1fr 4fr 1fr; 
  max-width: 900px;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "left right"
    "footer footer";
}

header {
  grid-area: header;
  background-color: #c9c1f7; 
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.left {
  grid-area: left;
  background-color: #eeecec; 
  margin-left: 20px;
  font-size: 15px;
}

.right {
  grid-area: right;
  background-color: #ececec; 
  margin-right: 20px;
  font-size: 10px;
}

footer {
  grid-area: footer;
  background-color: #b18f8f; 
  
}